[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
django = "*"
"jinja2" = "*"
mysqlclient = "*"
django-model-utils = "*"
pillow = "==5.2.0"
python-slugify = "*"
django-widget-tweaks = "*"
django-debug-toolbar = "*"
django-allauth = "*"
sorl-thumbnail = "==12.5.0"
django-comments-xtd = "*"
djangorestframework = "*"
httpie = "*"
mod-wsgi = "*"
django-star-ratings = "*"
django-upyun = "*"

[dev-packages]

[requires]
python_version = "3.6"
