{% extends "management/uploader/index_uploader.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Applications Table{% endblock %}
{% block stylesheet %}
  {{ block.super }}
{% endblock %}
{% block mainContent %}
          <div class="container-fluid">
            <h4 class="">Applications</h4>
            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <a class="button btn btn-primary" href="{% url 'management:add_mobile_app' %}">Upload Application</a>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Latest Version</th>
                        <th scope="col">Icon</th>
                        <th scope="col">Active</th>
                        <th scope="col">AVG rate</th>
                        <th scope="col">Comment count</th>
                        <th scope="col">Download count</th>
                        <th scope="col">History</th>
                        <th scope="col">Edit</th>
                      </tr>
                    </thead>
                        <tbody>
                        {% if page_apps|length == 0 %}
                            <tr>
                                <td colspan="10" align="center">We don't have data at this moment</td>
                            </tr>
                        {% else %}
                        {% for mobile_app in page_apps %}
                        <tr>
                            <th scope="row" class="app_order"></th>
                            <td>{{ mobile_app.name }}</td>
                            <td>{{ mobile_app.latest_version.version_number }}</td>
                            <td><img src="{{ mobile_app.icon.url }}" width="64px" height="64"></td>
                            <td>{{ mobile_app.is_active|yesno:"active,inactive" }}</td>
                            <td>{{ mobile_app.avg_rate|default_if_none:0 }}</td>
                            <td>{{ mobile_app.comment_count|default_if_none:0 }}</td>
                            <td>{{ mobile_app.download_count|default_if_none:0 }}</td>
                            <td>
                                <a class="button btn-primary btn" href='{% url "management:app_history_uploader" mobile_app.slug %}'>History</a>
                            </td>
                            <td>
                                <a class="button btn-primary btn" href='{% url "management:update_mobile_app" mobile_app.slug %}'>Edit</a>
                            </td>
                          </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                <nav>
                  <ul class="pagination justify-content-end">
                    <li class="page-item">
                      <a class="page-link" href="?page=1">First</a>
                    </li>
                    {% if not page_apps.has_previous %}
                    <li class="page-item disabled">
                      <span class="page-link">Previous</span>
                    </li>
                    {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_apps.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}
                    {% for page_index in page_apps.paginator.page_range %}
                      {% if page_index == page_apps.number %}
                      <li class="page-item active">
                          <span class="page-link">
                            {{ page_apps.number }}
                          </span>
                        </li>
                      {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_index }}">{{ page_index }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    {% if not page_apps.has_next %}
                    <li class="page-item disabled">
                      <span class="page-link">Next</span>
                    </li>
                    {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_apps.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_apps.paginator.num_pages }}">Last</a>
                    </li>
                  </ul>
                </nav>  
              </div>
            </div>
          </div>
{% endblock %}
{% block javascript %}
  {{ block.super }}
<script>
    var page_start_index = {{ page_apps.start_index|default:0 }};
    $(function(){
        $('.app_order').each(function(index, element){
            var row_index = $(this).parents('tr').index();
            $(this).text(page_start_index + row_index);
        });
    });
</script>
{% endblock %}

