{% extends "management/uploader/index_uploader.html" %}
{% load i18n %}
{% block title %}Application Table{% endblock %}
{% block stylesheet %}
    {{ block.super }}
    <style>
        .add-new-version {
            height: 60%;
        }
    </style>
    
{% endblock %}
{% block mainContent %}
    <div class="container-fluid">
            <h4 class="">{% trans 'Version History' %}</h4>
            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <div class="row">
                    <h3 class="app-name" style="color: dodgerblue">{{ mobile_app.name }}</h3>
                    <a class=" btn btn-primary add-new-version" href="{% url 'management:add_app_version' mobile_app.slug %}">
                        {% trans 'Add New Version' %}
                    </a>
                  </div>
                  <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>{% trans 'Version Number' %}</th>
                        <th>{% trans 'Time' %}</th>
                        <th>{% trans 'Approve' %}</th>
                        <th>{% trans 'Remark' %}</th>
                        <th>{% blocktrans %}What's New{% endblocktrans %}</th>
                        <th>{% trans 'View Detail' %}</th>
                        <th>{% trans 'Download' %}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>{% trans 'Version Number' %}</th>
                        <th>{% trans 'Time' %}</th>
                        <th>{% trans 'Approve' %}</th>
                        <th>{% trans 'Remark' %}</th>
                        <th>{% blocktrans %}What's New{% endblocktrans %}</th>
                        <th>{% trans 'View Detail' %}</th>
                        <th>{% trans 'Download' %}</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for app_version in app_version_list %}
                      <tr>
                        <td>{{ app_version.version_number }}</td>
                        <td>{{ app_version.created_time }}</td>
                        <td>{{ app_version.approve_status }}</td>
                        <td>{{ app_version.remark }}</td>
                        <td>{{ app_version.whats_new }}</td>
                        <td>
                            <a href="{% url 'management:version_detail' mobile_app.slug app_version.version_number %}" class="btn btn-primary">{% trans 'Detail' %}</a>
                        </td>
                        <td style="vertical-align: middle">
                            <a href="{{ app_version.apk.file.url }}"><i class="fas fa-download" ></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block javascript %}
  {{ block.super }}
<script>
    $(function(){
        setActiveMenu(1);
    });
</script>
    
{% endblock %}