{% extends "management/uploader/index_uploader.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}{% trans 'Inspired Video Table' %}{% endblock %}
{% block stylesheet %}
    {{ block.super }}
    <style>
        .add-new-version {
            height: 60%;
        }
    </style>
    
{% endblock %}
{% block mainContent %}
    <div class="container-fluid">
            <div class="row">
                <h4 class="col-auto" style="margin-top: 5px;">{% trans 'Video List' %}</h4>
                <a class="btn btn-primary btn-sm cur-p add-new-version" href="{% url 'management:add_inspired_video' %}">
                    {% trans 'Upload New Video' %}
                </a>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <div class="row">
                    
                  </div>
                  <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>{% trans 'No.' %}</th>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Album' %}</th>
                        <th>{% trans 'Approve' %}</th>
                        <th>{% trans 'Remark' %}</th>
                        <th>{% trans 'Detail' %}</th>
                        <th>{% trans 'Edit' %}</th>
                        <th>{% trans 'Delete' %}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>{% trans 'No' %}</th>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Album' %}</th>
                        <th>{% trans 'Approve' %}</th>
                        <th>{% trans 'Remark' %}</th>
                        <th>{% trans 'Detail' %}</th>
                        <th>{% trans 'Edit' %}</th>
                        <th>{% trans 'Delete' %}</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for video in video_list %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ video.title }}</td>
                        <td>{{ video.album.title|default_if_none:"" }}</td>
                        <td>{{ video.approve_status }}</td>
                        <td>{{ video.remark }}</td>
                        <td>
                            <a href="{% url 'management:detail_inspired_video' video.slug %}" class="btn btn-primary btn-sm">{% trans 'Detail' %}</a>
                        </td>
                        <td>
                            <a href="{% url 'management:edit_inspired_video' video.slug %}" class="btn btn-primary btn-sm">{% trans 'Edit' %}</a>
                        </td>
                        <td>
                            <a href="{% url 'management:delete_inspired_video' video.slug %}" class="btn btn-primary btn-sm">{% trans 'Delete' %}</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block javascript %}
    {{ block.super }} 
<script>
    $(function(){
        var dataTable = $('#dataTable').DataTable();       
        setActiveMenu(3);
    });
</script>
{% endblock %}
