{% extends "management/uploader/index_uploader.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}{% trans 'Video Album Table' %}{% endblock %}
{% block stylesheet %}
    {{ block.super }}
    <style>
        .add-new-version {
            height: 60%;
        }
    </style>
    
{% endblock %}
{% block mainContent %}
    <div class="container-fluid">
            <div class="row">
                <h4 class="col-auto" style="margin-top: 5px;">{% trans 'Video Album List' %}</h4>
                <a class="btn btn-primary btn-sm cur-p add-new-version" href="{% url 'management:add_video_album' %}">
                    {% trans 'Create New Album' %}
                </a>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <div class="row">
                    
                  </div>
                  <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>{% trans 'No.' %}</th>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Video Count' %}</th>
                        <th>{% trans 'Approve' %}</th>
                        <th>{% trans 'Remark' %}</th>
                        <th>{% trans 'Detail' %}</th>
                        <th>{% trans 'Edit' %}</th>
                        <th>{% trans 'Delete' %}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>{% trans 'No' %}</th>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Video Count' %}</th>
                        <th>{% trans 'Approve' %}</th>
                        <th>{% trans 'Remark' %}</th>
                        <th>{% trans 'Detail' %}</th>
                        <th>{% trans 'Edit' %}</th>
                        <th>{% trans 'Delete' %}</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for album in album_list %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ album.title }}</td>
                        <td>{{ album.album_videos.count|default_if_none:0 }}</td>
                        <td>{{ album.approve_status }}</td>
                        <td>{{ album.remark }}</td>
                        <td>
                            <a href="{% url 'management:detail_video_album' album.slug %}" class="btn btn-primary btn-sm">{% trans 'Detail' %}</a>
                        </td>
                        <td>
                            <a href="{% url 'management:edit_video_album' album.slug %}" class="btn btn-primary btn-sm">{% trans 'Edit' %}</a>
                        </td>
                        <td>
                            <a href="javascript:void(0);" 
                               onclick="deleteAlbum('{% url 'api:video-album-detail' album.slug %}', this)" class="btn btn-primary btn-sm">{% trans 'Delete' %}</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block javascript %}
    {{ block.super }} 
<script>
    $(function(){
        var dataTable = $('#dataTable').DataTable();       
        setActiveMenu(4);
    });
    
    function deleteAlbum(url, element){
        deleteModelObject(url).then(function(response){
            $(element).parents('tr').remove();
        });
    }
</script>
{% endblock %}
