{% extends 'showcase/base.html' %}
{% load static %}
{% load i18n %}
{% block stylesheet %}
    {{ block.super }}
<link href="{% static 'zInput_default_stylesheet.css' %}" rel="stylesheet">
<style>
    .zInputWrapper {
        padding: 2px;
        margin: 2px;
        border-radius: 6px;
        vertical-align: middle;
        line-height:normal;
        background-color: transparent;
    }
    
    .zInput {
        width: auto;
        height: auto;
        margin: 2px;
        padding: 2px 4px;
        font-size: 0.8em;
        color: darkgreen;
        border-color:darkgreen;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .zInput.zSelected{
        color:white;
        background-color: darkgreen;
    }
</style>
{% endblock %}
{% block mainContent %}
<div class="video_filter py-2">
    <ul class="list-group">
      <li class="list-group-item">{% trans 'Tag' %}:
          {% for tag in tags %}
          <input type="checkbox" name="check-tag[]" title="{{ tag }}" value="{{ tag.id }}">
          {% endfor %}
      </li>
      <li class="list-group-item">{% trans 'Album' %}:
          {% for album in albums %}
          <input type="radio" name="check-album" title="{{ album }}" value="{{ album.id }}">
          {% endfor %}
      </li>
    </ul>
</div>
<div class="row video-grid py-2">
</div>
<div class="card col-auto px-1 mb-3 inspired-video-template d-none" data-detail-url="" onclick="goToDetail(this)" style="height:210px;cursor: pointer">
    <img class="card-img-top video-image" style="width:250px;height:150px;" src="">
    <div class="card-body" style="padding: 3px 6px">
      <h5 class="card-title video-title" style="margin-bottom: 2px"></h5>
      <p class="card-text">
          <small class="text-muted">Views <span class="video-views"></span></small>
          <small class="text-muted float-right mr-2 video-duration"></small>
      </p>
    </div>
</div>
{% endblock %}
    
{% block javascript %}
    {{ block.super }}
<script src="{% static 'zInput.js' %}"></script>
<script>
var page = 1;
var tags = [];
var album = 0;
var emptyPage = false;
var blockPagination = false;
$(function(){
    $('.video_filter').zInput();
    
    $('input[name="check-tag[]"]').change(function(){
        resetZinput($('input[name=check-album]:checked'));
        $('input[name="check-tag[]"]:checked').each(function(){
            tags.push($(this).val()); 
        });
        console.log(tags);
        getVideoList();
    });
    
    $('input[name=check-album]').change(function(){
        resetZinput($('input[name="check-tag[]"]:checked'));
        album = $('input[name=check-album]:checked').val();
        console.log(album); 
        getVideoList();
    });
    
    $(window).scroll(function(){
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin){
            getVideoList();
        }
    });
    
    setActiveMenu(3);
    getVideoList();
});
    
function resetZinput(inputElement){
    inputElement.each(function(index){
        $(this).prop('checked', false);
        $(this).parents('.zInput').removeClass('zSelected');
    });
    page = 1;
    tags = [];
    album = 0;
    $('.video-grid').empty();
}
    
function getVideoList(){
    if(!emptyPage && !blockPagination){
        blockPagination = true;
        
        $.ajax({
           url: '{% url "api:inspired_video_list" %}',
           method: 'GET',
           data: {
                    'page': page,
                    'tags': JSON.stringify(tags),
                    'album': album
                 },
           contentType: 'application/json'
        }).done(function(response){
            if(response == ''){
                emptyPage = true;
            }else{
                console.log(response);
                response.forEach(function(data, index){
                    var videoCard = $('.inspired-video-template').clone().removeClass('inspired-video-template');
                    videoCard.find('.video-image').prop('src', data.thumbnail_path);
//                    videoCard.data('detail-url', data.url);
                    videoCard.data('detail-url', data.url);
                    videoCard.find('.video-title').text(data.title);
                    videoCard.find('.video-views').text(data.view_count);
                    videoCard.find('.video-duration').text(data.video_duration);
                    $('.video-grid').append(videoCard);
                    videoCard.removeClass('d-none');
                });
                page++;
            }
        }).always(function(){
            blockPagination = false;
        });
    }
}
    
function goToDetail(element){
    console.log($(element).data('detail-url'));
}
</script>    
{% endblock %}