{% extends 'showcase/base.html' %}
{% load static %}
{% load i18n %}
{% block stylesheet %}
    {{ block.super }}
<link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'zInput_default_stylesheet.css' %}" rel="stylesheet">
<style>
    .zInputWrapper {
        padding: 2px;
        margin: 2px;
        border-radius: 6px;
        vertical-align: middle;
        line-height:normal;
        background-color: transparent;
    }
    
    .zInput {
        width: auto;
        height: auto;
        margin: 2px;
        padding: 2px 4px;
        
        font-size: 0.8em;
    }
    
    .zCheckbox {
        color: darkgreen;
        border-color:darkgreen;
    }
    
    .zSelected.zCheckbox {
        color:white;
        background-color: darkgreen;
    }
</style>
{% endblock %}
{% block mainContent %}
<div class="pdf_filter py-2">
    <ul class="list-group">
      <li class="list-group-item">{% trans 'Author' %}:
          <input type="checkbox" name="check-author" title="Author A">
          <input type="checkbox" name="check-author" title="Author B">
          <input type="checkbox" name="check-author" title="Author C">
      </li>
      <li class="list-group-item">{% trans 'Publish Year' %}:
          <input type="checkbox" name="check-year" title="Year A">
          <input type="checkbox" name="check-year" title="Year B">
          <input type="checkbox" name="check-year" title="Year C">
      </li>
      <li class="list-group-item">{% trans 'Tag' %}:
          <input type="checkbox" name="check-tag" title="Tag A">
          <input type="checkbox" name="check-tag" title="Tag B">
          <input type="checkbox" name="check-tag" title="Tag C">
      </li>
    </ul>
</div>
<div class="pdf-table-div py-2">
    <table id="dataTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>{% trans 'No.' %}</th>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Discription' %}</th>
            <th>{% trans 'Author' %}</th>
            <th>{% trans 'Publish Year' %}</th>
            <th>{% trans 'Count' %}</th>
            <th>{% trans 'Detail' %}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>{% trans 'No.' %}</th>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Discription' %}</th>
            <th>{% trans 'Author' %}</th>
            <th>{% trans 'Publish Year' %}</th>
            <th>{% trans 'Count' %}</th>
            <th>{% trans 'Detail' %}</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>1</td>
            <td>Test Title</td>
            <td>This book is great</td>
            <td>Someone Great</td>
            <td>2010</td>
            <td>3</td>
            <td style="vertical-align: middle">
                <a href="" class="btn btn-primary">{% trans 'Detail' %}</a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Test Title</td>
            <td>This book is great</td>
            <td>Someone Great</td>
            <td>2010</td>
            <td>3</td>
            <td style="vertical-align: middle">
                <a href="" class="btn btn-primary">{% trans 'Detail' %}</a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Test Title</td>
            <td>This book is great</td>
            <td>Someone Great</td>
            <td>2010</td>
            <td>3</td>
            <td style="vertical-align: middle">
                <a href="" class="btn btn-primary">{% trans 'Detail' %}</a>
            </td>
          </tr>
        </tbody>
    </table>
</div>
{% endblock %}
    
{% block javascript %}
    {{ block.super }}
<script src="{% static 'DataTables/datatables.js' %}"></script>
<script src="{% static 'zInput.js' %}"></script>
<script>
$(function(){
    var dataTable = $('#dataTable').DataTable();   
    setActiveMenu(2);
    
    $('.pdf_filter').zInput();
});
</script>    
{% endblock %}