{% extends "management/index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}Add New Version{% endblock %}
{% block stylesheet %}
  {{ block.super }}
  <style>
    .imgDivTop {
      padding:5px;
      margin-right:5px;
    }

    .imgDivTop .delImgBtn {
      vertical-align: top;
    }

    #submit_btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
    }
  </style>
{% endblock %}
{% block sidebar %}
    {% if perms.management.can_approve_app %}
        {% include 'management/sidebar.html' %}
    {% else %}
        {% include 'management/uploader/sidebar_uploader.html' %}
    {% endif %}
{% endblock %}
{% block mainContent %}
          <form id="add_version_form" method="POST" action="{% url 'management:add_app_version' updateAppModelForm.slug.value %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="">
                  <h6 class="">
                      {{ updateAppModelForm.name.value|add:' Current Version  ' }}
                      {{ updateAppModelForm.instance.versions.last }}
                  </h6>
                  <div class="">
                      <div class="form-group">
                        <label>{{ addAppVersionModelForm.version_number.label }}</label>
                        {% render_field addAppVersionModelForm.version_number class="form-control" %}
                        {% if addAppVersionModelForm.version_number.errors %}
                          <div class="invalid-feedback d-block">
                            {{ addAppVersionModelForm.version_number.errors }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label>{{ addAppVersionModelForm.whats_new.label }}</label>
                        {% render_field addAppVersionModelForm.whats_new class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label for="appTags">{{ updateAppModelForm.tags.label }}</label><br/>
                        {% for tag_cb in updateAppModelForm.tags %}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label mr-1" for="{{ tag_cb.id_for_label }}">{{ tag_cb.choice_label }}</label>
                            {{ tag_cb.tag }}
                        </div>
                        {% endfor %}
                        {% if updateAppModelForm.tags.errors %}
                          <div class="invalid-feedback d-block">
                            {{ updateAppModelForm.tags.errors }}
                          </div>
                        {% endif %}
                      </div>
                      
                      <button id="imgCtrBtn" type="button" class="button btn-primary btn cur-p" style="margin-bottom: 5px">{% trans 'Select Images' %} +</button>
                      <input type="file" style="display:none" id="imgCtr" accept="image/*" multiple>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
              {% if updateAppModelForm.errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in updateAppModelForm.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
              {% if addAppVersionModelForm.errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in addAppVersionModelForm.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
              {% if updateAppModelForm.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in updateAppModelForm.non_field_errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}

              {% if addAppVersionModelForm.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in addAppVersionModelForm.non_field_errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}

              {% for hidden_field in updateAppModelForm.hidden_fields %}
               {% if hidden_field.errors %}
                 <div class="alert alert-danger" role="alert">
                   {% for error in hidden_field.errors %}
                     {{ hidden_field.name }}: {{ error }}
                   {% endfor %}
                 </div>
               {% endif %}
              {% endfor %}

              {% for hidden_field in addAppVersionModelForm.hidden_fields %}
               {% if hidden_field.errors %}
                 <div class="alert alert-danger" role="alert">
                   {% for error in hidden_field.errors %}
                     {{ hidden_field.name }}: {{ error }}
                   {% endfor %}
                 </div>
               {% endif %}
              {% endfor %}

              {% render_field updateAppModelForm.name type="hidden" %}
              {% render_field updateAppModelForm.slug type="hidden" %}
              {% render_field updateAppModelForm.description style="display:none" %}
              {% render_field updateAppModelForm.category style="display:none" %}
              
              <div class="form-group row pl-3">
                    <button type="button" class="button btn-primary btn col-md-2" id="apk_input_btn">APK</button>
                    <input type="file" id="apk_file_input" accept=".apk,.xapk" style="display:none">
                    <div class="col-md-10 d-none" id="apk-progress-div">
                      <div class="progress" style="height:90%; width:100%">
                       <div id="apk_upload_progress" class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div>
                    </div>
              </div>
              <div class="form-group">
                <label>{{ addAppVersionModelForm.translator.label }}</label>
                {% render_field addAppVersionModelForm.translator class="form-control" %}
                {% if addAppVersionModelForm.translator.errors %}
                  <div class="invalid-feedback d-block">
                    {{ addAppVersionModelForm.translator.errors }}
                  </div>
                {% endif %}
              </div>
              <div class="form-group">
                <label>{{ addAppVersionModelForm.android_version.label }}</label>
                {% render_field addAppVersionModelForm.android_version class="form-control" %}
                {% if addAppVersionModelForm.android_version.errors %}
                  <div class="invalid-feedback d-block">
                    {{ addAppVersionModelForm.android_version.errors }}
                  </div>
                {% endif %}
              </div>
              <button id="submit_btn" class="btn button btn-success center" style="margin-left:auto;margin-right:auto;margin-top:50px;" >{% trans 'Add New Version' %}</button>
              </div>
                <div class="divSplitter" style="display:none"></div>
                {% for imgUrl in imgUrls %}
                  <div class="imgDivTop">
                      <img src="{{ imgUrl }}" width="auto" height="200px" class="appImg rounded">
                      <button type="button" class="btn btn-secondary delImgBtn">x</button>
                      <input type="checkbox" class="delImgCheckbox" style="display:none">
                      <input type="number" class="orderImg" style="display:none">
                  </div>
                {% endfor %}
            </div>
            {{ updateAppModelForm.imgIds }}
            {{ updateAppModelForm.video_id }}
            {{ addAppVersionModelForm.apk_id }}
            {{ addAppVersionModelForm.mobile_app.as_hidden }}
          </form>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script>
  var imageDivTemplate = '<div class="bgc-white imgDivTop">'+
                        '<img width="auto" height="200px" class="appImg rounded">'+
                        '<button type="button" class="btn btn-secondary delImgBtn">x</button>'+
                        '<input type="checkbox" class="delImgCheckbox" style="display:none">'+
                        '<input type="number" class="orderImg" style="display:none">'+
                        '</div>';

  {% if updateAppModelForm.imgIds.value is not None %}
  var imgIds = [{{ updateAppModelForm.imgIds.value }}];
  {% else %}
  var imgIds = [];
  {% endif %}

  $(function(){

    $('#imgCtrBtn').click(function(){
      $('#imgCtr').click();
    });

    $('#imgCtr').change(function(){
      var files = this.files;
      if(imgIds.length + files.length > 10){
        alert("{% trans 'maximum 10 images allowed' %}");
        return;
      }
      // var fileList
      if(files !== null){
        var formData = new FormData();
        $.each(files, function(i, file){
          formData.append('images', file)
        });

        $.ajax({
            url: "{% url 'management:add_app_images' %}",
            type: 'POST',
            data: formData,
            cache: false,
            dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        }).done(function(data){
          console.log(data);
          imgIds = imgIds.concat(data);
          $.each(files, function(i, file){
            var imgEle = newImageDiv();
            displayImage(file, imgEle);
          });
          attachEvents();
        });
      }
    });
      
    $('#apk_input_btn').click(function(){
    	$('#apk_file_input').click();
    });
    
    $('#apk_file_input').change(function(){
        var file = this.files[0];
        
        // var fileList
        if(file !== null){
          $('#apk-progress-div').removeClass('d-none');
            
          var formData = new FormData();
          formData.append('apk', file)

          $.ajax({
              url: "{% url 'management:upload_apk' %}",
              type: 'POST',
              data: formData,
              cache: false,
              dataType: 'json',
              processData: false, // Don't process the files
              contentType: false, // Set content type to false as jQuery will tell the server its a query string request
              xhr: function()
              {
                var xhr = new window.XMLHttpRequest();
                //Upload progress
                xhr.upload.addEventListener("progress", function(evt){
                  if (evt.lengthComputable) {
                    var percentComplete = (evt.loaded / evt.total*100).toFixed(0) + '%';
                    //Do something with upload progress
                    console.log(percentComplete);
                    $('#apk_upload_progress').css('width', percentComplete);
                    $('#apk_upload_progress').text(percentComplete);
                  }
                }, false);
                //Download progress
                xhr.addEventListener("progress", function(evt){
                  if (evt.lengthComputable) {
                    var percentComplete = evt.loaded / evt.total;
                    //Do something with download progress
                    console.log(percentComplete);
                  }
                }, false);
                return xhr;
              },
          }).done(function(data){
            console.log(data);
            var apk_id = data.apk_id;
            $('#apk_id').val(apk_id);
          });
        }
      });

    $('#add_version_form').submit(function(){
      $('#imgIds').val(imgIds);
      $(this).submit();
    });

    attachEvents();
    setActiveMenu(1);
  });

  function newImageDiv(){
    var currentImgCount = $('.imgDivTop').length;
    var newImgDiv = $(imageDivTemplate.repeat(1));
    currentImgCount > 0 ? $('.imgDivTop').last().after(newImgDiv) : $('.divSplitter').after(newImgDiv);
    return newImgDiv.find('.appImg');
  }

  function displayImage(file, imgEle){
    var reader = new FileReader();
    reader.onload = function(e) {
      // Set the img src property using the data URL.
      imgEle.prop('src', reader.result);
    }

    reader.readAsDataURL(file);
  }

  function attachEvents(){
    $('.delImgBtn').click(function(){
      var index = $(this).parents('.imgDivTop').index('.imgDivTop');
      imgIds.splice(index, 1);
      $(this).siblings('.delImgCheckbox').prop('checked', true);
      $(this).parents('.imgDivTop').remove();
    });
  }
  </script>
{% endblock %}
