{% extends "management/index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans 'Add Application' %}{% endblock %}
{% block stylesheet %}
  {{ block.super }}
  <link href="{% static 'taggit_labels/css/taggit_labels.css' %}" rel="stylesheet">
  <style>
    .imgDivTop {
      padding:5px;
      margin-right:5px;
    }

    .imgDivTop .delImgBtn {
      vertical-align: top;
    }

    #submit_btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
    }
  </style>
{% endblock %}
{% block sidebar %}
    {% if perms.management.can_approve_app %}
        {% include 'management/sidebar.html' %}
    {% else %}
        {% include 'management/uploader/sidebar_uploader.html' %}
    {% endif %}
{% endblock %}
{% block mainContent %}
          <form id="add_app_form" method="POST" action="{% url 'management:add_mobile_app' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="">
                  <h6 class="">{% trans 'Add Appliction' %}</h6>
                  <div class="">
                      <div class="form-group">
                        <label>{{ addAppModelForm.name.label }}</label>
                        {% render_field addAppModelForm.name class="form-control" placeholder=addAppModelForm.name.name %}
                        {% if addAppModelForm.name.errors %}
                          <div class="invalid-feedback d-block">
                            {% for error in addAppModelForm.name.errors %}
                              {{ error }}
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label>{{ addAppModelForm.description.label }}</label>
                        {% render_field addAppModelForm.description class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label>{{ addAppVersionModelForm.version_number.label }}</label>
                        {% render_field addAppVersionModelForm.version_number class="form-control" %}
                        {% if addAppVersionModelForm.version_number.errors %}
                          <div class="invalid-feedback d-block">
                            {{ addAppVersionModelForm.version_number.errors }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label>{{ addAppModelForm.category.label }}</label>
                        {% render_field addAppModelForm.category class="form-control" %}
                      </div>
                      <div class="form-group">
                        {{ addAppModelForm.tags.label }}
                        {{ addAppModelForm.tags }}
                        {% if addAppModelForm.tags.errors %}
                          <div class="invalid-feedback d-block">
                            {{ addAppModelForm.tags.errors }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="form-group row pl-3">
                        <button type="button" class="button btn-primary btn col-md-2" id="apk_input_btn">APK</button>
                        <input type="file" id="apk_file_input" accept=".apk,.xapk" style="display:none">
                        <div class="col-md-10 d-none progress-div">
                          <div class="progress" style="height:90%; width:100%">
                           <div id="apk_upload_progress" class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row" style="margin-left: 0">
                          <button type="button" class="btn btn-success icon-btn">{% trans 'Icon' %}</button>
                            {% render_field addAppModelForm.icon style="display:none" id="icon_input"%}
                            <img id="icon_img" src="{% static 'images/mobile.png' %}" width="50px" height="50px" style="margin-left: 10px"/>
                            {% if addAppModelForm.icon.errors %}
                                <div class="invalid-feedback d-block">
                                {{ addAppModelForm.icon.errors }}
                                </div>
                            {% endif %}
                          <span style="font-size: 0.8em">{% trans 'Icon size should not exceed 1MB' %}</span>
                      </div>
                      
                      <button id="imgCtrBtn" type="button" class="button btn-primary btn" style="margin-bottom: 5px">{% trans 'Choose Screenshots' %}</button>
                      <span style="font-size: 0.8em">{% trans 'Each image size should not exceed 2MB' %}</span>
                      <input type="file" style="display:none" id="imgCtr" accept="image/*" multiple>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pt-3">
                      {% if addAppModelForm.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in addAppModelForm.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                      {% for hidden_field in addAppModelForm.hidden_fields %}
                       {% if hidden_field.errors %}
                         <div class="alert alert-danger" role="alert">
                           {% for error in hidden_field.errors %}
                             {{ hidden_field.name }}: {{ error }}
                           {% endfor %}
                         </div>
                       {% endif %}
                      {% endfor %}
                      {% for hidden_field in addAppVersionModelForm.hidden_fields %}
                       {% if hidden_field.errors %}
                         <div class="alert alert-danger" role="alert">
                           {% for error in hidden_field.errors %}
                             {{ hidden_field.name }}: {{ error }}
                           {% endfor %}
                         </div>
                       {% endif %}
                      {% endfor %}
                      <div class="form-group">
                        <label>{{ addAppModelForm.developer.label }}</label>
                        {% render_field addAppModelForm.developer class="form-control" %}
                        {% if addAppModelForm.developer.errors %}
                          <div class="invalid-feedback d-block">
                            {{ addAppModelForm.developer.errors }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label>{{ addAppVersionModelForm.translator.label }}</label>
                        {% render_field addAppVersionModelForm.translator class="form-control" %}
                        {% if addAppVersionModelForm.translator.errors %}
                          <div class="invalid-feedback d-block">
                            {{ addAppVersionModelForm.translator.errors }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label>{{ addAppVersionModelForm.android_version.label }}</label>
                        {% render_field addAppVersionModelForm.android_version class="form-control" %}
                        {% if addAppVersionModelForm.android_version.errors %}
                          <div class="invalid-feedback d-block">
                            {{ addAppVersionModelForm.android_version.errors }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="form-group row pl-3">
	                        <button type="button" class="button btn-primary btn col-md-2" id="video_input_btn">{% trans 'Video Upload' %}</button>
	                        <input type="file" id="video_input" accept="video/*" style="display:none">
	                        <div class="col-md-10 d-none progress-div">
	                          <div class="progress" style="height:90%; width:100%">
	                           <div id="video_upload_progress" class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
	                          </div>
	                        </div>
                           <div class="invalid-feedback d-block" style="color:black">{% trans 'Video size should not exceed 10MB' %}</div>
                      </div>
<!--                      <video width="100%" height="auto" controls></video>-->
                      <button id="submit_btn" class="btn cur-p button btn-success center" style="margin-left:auto;margin-right:auto;margin-top:50px;" >{% trans 'Add New Application' %}</button>
              </div>
                <div class="divSplitter" style="display:none"></div>
            </div>
            {{ addAppModelForm.imgIds }}
            {{ addAppModelForm.video_url }}
            {{ addAppVersionModelForm.apk_url }}
            {{ addAppVersionModelForm.mobile_app.as_hidden }}
          </form>
<div class="image-template d-none">
    <img width="auto" height="200px" class="appImg rounded"><button type="button" class="btn cur-p btn-secondary delImgBtn">x</button>
    <input type="checkbox" class="delImgCheckbox" style="display:none">
    <input type="number" class="orderImg" style="display:none">
</div>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'taggit_labels/js/taggit_labels.js' %}" type="text/javascript"></script>
  <script>
  var imgIds = [];
  var videoUploading = false;
  var apkUploading = false;
      
  $(function(){

    $('#imgCtrBtn').click(function(){
      $('#imgCtr').click();
    });

    $('#imgCtr').change(function(){
      var files = this.files;
      if(imgIds.length + files.length > 10){
        alert("{% trans 'maximum 10 images allowed' %}");
        return false;
      }
      
      if(files !== null){
        var formData = new FormData();
        $.each(files, function(i, file){
            if(!validateFileSize(file, 2)){
                exceedFileSize = true;
                alert("{% trans 'file size exceed the limitaion' %}" + ':' + file.name);
                return false;
            }
            getImageUploadSignature(file.name, 'app', 'showcase.app.ss.thumbnail').then(function(response){
                return uploadFile(response, false, file);
            }).then(function(response){
                return notifyImageTask(response);
            }).then(function(response){
                var image_id = response.image_id;
                imgIds.push(image_id);
                console.log('taskId for image notified:' + image_id); 
            }).fail(function(data){
                console.log('something wrong in ajax call');
                console.log(data);
            }).always(function(data){
                if(data !== undefined){
                  console.log(data);  
                }
                var imgEle = newImageDiv();
                displayImage(file, imgEle);
                attachEvent(imgEle.siblings('.delImgBtn'));
            });
        });
      }
    });

    $('#add_app_form').submit(function(e){
      if(videoUploading){
          alert("{% trans 'sorry, please wait for a while, the video uploading has not complte yet' %}");
          e.preventDefault();
          return false;
      }
      $('#imgIds').val(imgIds);
      $('#apk_file_input, #imgCtr, #video_input').prop('disabled', true);
      $(this).submit();
    });
    
    $('#video_input_btn').click(function(){
    	$('#video_input').click();
    });
    
    $('#video_input').change(function(){
        videoUploading = true;
        var file = this.files[0];
        if(file !== null){
          if(!validateFileSize(file, 10)){
            alert("{% trans 'file size exceed the limitaion' %}");
            videoUploading = false;
            return;
          }
          
          getFileUploadSignature(file.name, 'videos', 0, 0).then(function(response){
              return uploadFile(response, '#video_upload_progress', file);
          }).then(function(response){
              if(response.code == 200){
                  var video_url = response.url.replace($('body').data('media-url'), '');
                  $('#video_url').val(video_url);
                }
          }).fail(function(data){
                console.log('something wrong in ajax call');
                console.log(data);
            }).always(function(data){
                if(data !== undefined){
                  console.log(data);  
                }
                videoUploading = false; 
            });
        }
      });
      
    $('#apk_input_btn').click(function(){
    	$('#apk_file_input').click();
    });
    
    $('#apk_file_input').change(function(){
        var file = this.files[0];
        if(file !== null){
          getFileUploadSignature(file.name, 'apk', 1, file.size).then(function(response){
              return uploadFile(response, '#apk_upload_progress', file);
          }).then(function(response){
              if(response.code == 200){
                  var apk_url = response.url.replace($('body').data('media-url'), '');
                  console.log('apk_url:' + apk_url);
                  $('#apk_url').val(apk_url);
                }
          }).fail(function(data){
                console.log('something wrong in ajax call');
                console.log(data);
            }).always(function(data){
                if(data !== undefined){
                  console.log(data);  
                }
                apkUploading = false; 
            });
        }
      });
      
    $('.icon-btn').click(function(){
        $(this).siblings('#icon_input').click();
    });
    
    $('#icon_input').change(function(){
    	var file = this.files[0];
        if(!validateFileSize(file, 1)){
            alert("{% trans 'file size exceed the limitaion' %}");
            return;
        }
    	displayImage(file, $('#icon_img'));
    });

    attachEvents();
  });

  function newImageDiv(){
    var currentImgCount = $('.imgDivTop').length;
    var newImgDiv = $('.image-template').clone().removeClass('image-template d-none').addClass('imgDivTop');
    currentImgCount > 0 ? $('.imgDivTop').last().after(newImgDiv) : $('.divSplitter').after(newImgDiv);
    return newImgDiv.find('.appImg');
  }

  function attachEvents(){
    $('.delImgBtn').click(function(){
      var index = $(this).parents('.imgDivTop').index('.imgDivTop');
      imgIds.splice(index, 1);
      $(this).siblings('.delImgCheckbox').prop('checked', true);
      $(this).parents('.imgDivTop').remove();
    });
  }
      
  function attachEvent(element){
      element.click(function(){
          var index = $(this).parents('.imgDivTop').index('.imgDivTop');
          imgIds.splice(index, 1);
          $(this).siblings('.delImgCheckbox').prop('checked', true);
          $(this).parents('.imgDivTop').remove();
        });
  }
  </script>
{% endblock %}
