{% extends "management/index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block title %}Add New Version{% endblock %}
{% block stylesheet %}
  {{ block.super }}
  <style>
    .imgDivTop {
      padding:5px;
      margin-right:5px;
    }

    .gap-20 .imgDivTop .delImgBtn {
      vertical-align: top;
    }

    #submit_btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
    }
  </style>
{% endblock %}
{% block sidebar %}
    {% if perms.management.can_approve_app %}
        {% include 'management/sidebar.html' %}
    {% else %}
        {% include 'management/uploader/sidebar_uploader.html' %}
    {% endif %}
{% endblock %}
{% block mainContent %}
          <form method="" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row gap-20 pos-r">
              <div class="col-md-6">
                <div class="bgc-white p-20 bd">
                  <h4 class="c-grey-900">
                      {{ mobile_app.name|add:' Version Number' }}
                      {{ app_version.version_number }}
                  </h4>
                  <div class="mT-30">
                      <div class="form-group">
                        <h5>Application {{ mobile_app.is_active|yesno:'Active, Inactive' }}</h5>
                      </div>
                      <div class="form-group">
                        <h5>{{ mobile_app|verbose_name:'description'}}</h5>
                        {{ mobile_app.description }}
                      </div>
                      <div class="form-group">
                        <h5>{{ app_version|verbose_name:'whats_new' }}</h5>
                        {{ app_version.whats_new }}
                      </div>
                      <div class="form-group">
                        <h5>{{ mobile_app|verbose_name:'category' }}</h5>
                        {{ mobile_app.category }}
                      </div>
                      <div class="form-group">
                        <h5>{{ mobile_app|verbose_name:'tags' }}</h5>
                        {{ mobile_app.tags.all|join:' ' }}
                      </div>
                      <div class="form-group">
                        <h5>{{ mobile_app|verbose_name:'upload_by' }}</h5>
                        {{ mobile_app.upload_by }}
                      </div>
                      <div class="form-group">
                        <h5>{{ app_version|verbose_name:'created_time' }}</h5>
                        {{ mobile_app.upload_date }}
                      </div>
                      <div class="form-group">
                        <h5>{{ app_version|verbose_name:'approve_status' }}</h5>
                        {{ app_version.approve_status }}
                      </div>
                      <div class="form-group">
                        <h5>Checked By</h5>
                        {{ app_version.approved_by }} at {{ app_version.approved_time }}
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="bgc-white p-20 bd">
                  <div class="mT-30">
                      <div class="form-group">
                        <h5>{{ mobile_app|verbose_name:'video_url'}}</h5>
                      </div>
                      <video width="100%" height="auto" controls>
                        {% if mobile_app.video_url is not None %}
                            <source src="{% get_media_prefix %}{{ mobile_app.video_url }}">
                        {% endif %}
                      </video>
					    {% if perms.management.can_approve_app %}
					        <button type="button" onclick="updateApprove('{{ mobile_app.slug }}', '{{ app_version.version_number }}', 'approved')" class="btn cur-p button btn-success" style="margin-top:50px;" >Approve</button>
                            <button type="button" onclick="updateApprove('{{ mobile_app.slug }}', '{{ app_version.version_number }}', 'rejected')" class="btn cur-p button btn-warning" style="margin-top:50px;" >Reject</button>
					    {% endif %}
                  </div>
                </div>
              </div>
                <div class="divSplitter" style="display:none"></div>
                {% for imgUrl in mobile_app.images.all %}
                  <div class="bgc-white bd imgDivTop">
                      <img src="{{ imgUrl.picture.url }}" width="auto" height="200px" class="appImg rounded">
                      <input type="checkbox" class="delImgCheckbox" style="display:none">
                      <input type="number" class="orderImg" style="display:none">
                  </div>
                {% endfor %}
            </div>
          </form>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script>
  var app_slug = "{{ mobile_app.slug }}";
  var version_number = "{{ app_version.version_number }}";
  
  $(function(){
  });

  function updateApprove(app_slug, version_number, approve_status){
	  $.ajax({
          url: "{% url 'management:update_version_status' %}",
          method: 'POST',
          data: {
              'app_slug': app_slug,
              'version_number': version_number,
              'approve_status': approve_status
          }
      }).done(function(response){
          if (response.status = 1){
              location.reload();
          }else{
              alert('server error');
          }
          
      });
  }
  </script>
{% endblock %}
