{% extends "management/index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load comments %}

{% block title %}Add New Version{% endblock %}
{% block stylesheet %}
  {{ block.super }}
  <style>
    .imgDivTop {
      padding:5px;
      margin-right:5px;
    }

    .imgDivTop .delImgBtn {
      vertical-align: top;
    }

    #submit_btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
    }
    
      .attr-val {
          color:blueviolet
      }
  </style>
{% endblock %}
{% block sidebar %}
    {% if perms.management.can_approve_app %}
        {% include 'management/sidebar.html' %}
    {% else %}
        {% include 'management/uploader/sidebar_uploader.html' %}
    {% endif %}
{% endblock %}
{% block mainContent %}
          <form method="" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="">
                  <div class="row">
                    <h4 class="col-md-6">
                      {{ mobile_app.name|add:' Version Number' }}
                      {{ app_version.version_number }}
                    </h4>
                    <img src="{{ mobile_app.icon.url }}" width="128px" height="128px">
                  </div>
                  
                  <div style="font-size: 1.2em; margin-top: 10px">
                      <div class="row">
                        <span class="col">Statistic (Download, Comment, Average Rate) </span>
                        {% get_comment_count for mobile_app as comment_count %}
                        <span class="col attr-val">{{ mobile_app.download_count }}, {{ comment_count }}, {{ mobile_app.rating.average|default:5 }}</span>
                      </div>
                      <div class="row">
                        <span class="col">Application Activation</span>
                        <span class="col attr-val">{{ mobile_app.is_active|yesno:'Active, Inactive' }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ mobile_app|verbose_name:'description'}}</span>
                        <span class="col attr-val">{{ mobile_app.description }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ app_version|verbose_name:'whats_new' }}</span>
                        <span class="col attr-val">{{ app_version.whats_new }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ mobile_app|verbose_name:'category' }}</span>
                        <span class="col attr-val">{{ mobile_app.category }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ mobile_app|verbose_name:'tags' }}</span>
                        <span class="col attr-val">{{ mobile_app.tags.all|join:' ' }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ mobile_app|verbose_name:'upload_by' }}</span>
                        <span class="col attr-val">{{ mobile_app.upload_by }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ app_version|verbose_name:'created_time' }}</span>
                        <span class="col attr-val">{{ mobile_app.upload_date }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ mobile_app|verbose_name:'developer'}}</span>
                        <span class="col attr-val">{{ mobile_app.developer }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ app_version|verbose_name:'translator'}}</span>
                        <span class="col attr-val">{{ app_version.translator }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ app_version|verbose_name:'android_version'}}</span>
                        <span class="col attr-val">{{ app_version.android_version }}</span>
                      </div>
                      <div class="row">
                        <span class="col">{{ app_version|verbose_name:'approve_status' }}</span>
                        <span class="col attr-val">{{ app_version.approve_status }}</span>
                      </div>
                      <div class="row">
                        <span class="col">Checked By</span>
                        <span class="col attr-val">{{ app_version.approved_by }} at {{ app_version.approved_time }}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="">
                  <div class="mT-30">
                      <div class="row">
                        <h5>{{ mobile_app|verbose_name:'video_url'}}</h5>
                      </div>
                      <video width="100%" height="auto" controls>
                        {% if mobile_app.video_url != '' %}
                            <source src="{% get_media_prefix %}{{ mobile_app.video_url }}">
                        {% endif %}
                      </video>
                        <a type="button" href="{{ app_version.apk.url }}" class="btn button btn-secondary" style="margin-top:50px;" >Download</a>
					    {% if perms.management.can_approve_app %}
					        <button type="button" onclick="updateApprove('{{ mobile_app.slug }}', '{{ app_version.version_number }}', 'approved')" class="btn button btn-success" style="margin-top:50px;" >Approve</button>
                            <button type="button" onclick="updateApprove('{{ mobile_app.slug }}', '{{ app_version.version_number }}', 'rejected')" class="btn button btn-warning" style="margin-top:50px;" >Reject</button>
					    {% endif %}
                  </div>
                </div>
              </div>
                <div class="divSplitter" style="display:none"></div>
                {% for imgUrl in mobile_app.images.all %}
                  <div class="imgDivTop">
                      <img src="{{ imgUrl.picture.url }}" width="auto" height="200px" class="appImg rounded">
                      <input type="checkbox" class="delImgCheckbox" style="display:none">
                      <input type="number" class="orderImg" style="display:none">
                  </div>
                {% endfor %}
            </div>
          </form>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script>
  var app_slug = "{{ mobile_app.slug }}";
  var version_number = "{{ app_version.version_number }}";
  
  $(function(){
  });

  function updateApprove(app_slug, version_number, approve_status){
	  $.ajax({
          url: "{% url 'management:update_version_status' %}",
          method: 'POST',
          data: {
              'app_slug': app_slug,
              'version_number': version_number,
              'approve_status': approve_status
          }
      }).done(function(response){
          if (response.status = 1){
              location.reload();
          }else{
              alert('server error');
          }
          
      });
  }
  </script>
{% endblock %}
