{% load static %}
<style>
    a {
        margin: 5px;
    }
</style>
<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Muslim App</a>
<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
{% if user.is_authenticated %}
<span style="color: white;margin-left: 5px">{{ user.username }}</span>
<a href="{% url 'userauth:update_profile' %}">
    {% if user.avatar is not None %}
    <img src="{{ user.avatar.url }}"  width="48px" height="48px">
    {% else %}
    <img src="{% static 'images/avatar.png' %}" width="48px" height="48px">
    {% endif %}
</a>
<a class="nav-link" href="{% url 'userauth:logout' %}">Logout</a>
{% else %}
  <a class="nav-link" href="{% url 'userauth:login' %}">Sign In</a>
{% endif %}
