{% load static %}
{% load i18n %}
<style>
    a {
        margin: 5px;
    }
</style>
<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'showcase:index' %}">{% trans 'Muslim App' %}</a>
<input class="form-control form-control-dark col-md-8" type="text" placeholder="Search" aria-label="Search">
{% if user.is_authenticated %}
<span style="color: white;margin-left: 5px">{{ user.username }}</span>
<a href="{% url 'userauth:update_profile' %}">
    {% if user.profile.avatar != '' %}
    <img src="{{ user.profile.avatar.url }}"  width="48px" height="48px">
    {% else %}
    <img src="{% static 'images/avatar.png' %}" width="48px" height="48px">
    {% endif %}
</a>
<a class="nav-link" href="{% url 'userauth:logout' %}">{% trans 'Logout' %}</a>
{% else %}
  <a class="nav-link" href="{% url 'userauth:login' %}">{% trans 'Sign In' %}</a>
<a class="nav-link" href="{% url 'userauth:sign_up' %}">{% trans 'Sign Up' %}</a>
{% endif %}
