{% extends "management/index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}Update Application{% endblock %}
{% block stylesheet %}
  {{ block.super }}
  <link href="{% static 'taggit_labels/css/taggit_labels.css' %}" rel="stylesheet">
  <style>
    .imgDivTop {
      padding:5px;
      margin-right:5px;
    }

    .imgDivTop .delImgBtn {
      vertical-align: top;
    }

    #submit_btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
    }
  </style>
{% endblock %}
{% block sidebar %}
    {% if perms.management.can_approve_app %}
        {% include 'management/sidebar.html' %}
    {% else %}
        {% include 'management/uploader/sidebar_uploader.html' %}
    {% endif %}
{% endblock %}
{% block mainContent %}
          <form id="update_app_form" method="POST" action="{% url 'management:update_mobile_app' updateAppModelForm.slug.value %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="">
                  <h6 class="">{{ updateAppModelForm.name.value|add:' Version '|add:updateAppModelForm.instance }} </h6>
                  <div class="">
                      <div class="form-group">
                        <label>{{ updateAppModelForm.description.label }}</label>
                        {% render_field updateAppModelForm.description class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label>{{ updateAppModelForm.category.label }}</label>
                        {% render_field updateAppModelForm.category class="form-control" %}
                      </div>
                      <div class="form-group">
                        {{ updateAppModelForm.tags.label }}
                        {{ updateAppModelForm.tags }}
                        {% if updateAppModelForm.tags.errors %}
                          <div class="invalid-feedback d-block">
                            {{ updateAppModelForm.tags.errors }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="form-group row" style="margin-left: 0">
                        <button type="button" class="btn btn-primary icon-btn">{% trans 'Icon' %}</button>
                        <div id="icon_widget_div" style="display:none">
                            {% render_field updateAppModelForm.icon id="icon_input" %}
                        </div>
                        {% if updateAppModelForm.instance.icon.url is not None %}
                        <img id="icon_img" src="{{ updateAppModelForm.instance.icon.url }}" width="50px" height="50px" style="margin-left: 10px"/>
                        {% else %}
                        <img id="icon_img" src="{% static 'images/mobile.png' %}" width="50px" height="50px" style="margin-left: 10px"/>
                        {% endif %}
                        {% if updateAppModelForm.icon.errors %}
                            <div class="invalid-feedback d-block">
                            {{ updateAppModelForm.icon.errors }}
                            </div>
                        {% endif %}
                        <span style="font-size: 0.8em">{% trans 'Icon size should not exceed 1MB' %}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ updateAppModelForm.developer.label }}</label>
                        {% render_field updateAppModelForm.developer class="form-control" %}
                    </div>
                    <button id="imgCtrBtn" type="button" class="button btn-primary btn" style="margin-bottom: 5px">{% trans 'Choose Screenshots' %}</button>
                    <span style="font-size: 0.8em">{% trans 'Each image size should not exceed 2MB' %}</span>
                    <input type="file" style="display:none" id="imgCtr" accept="image/*" multiple>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="">
                  <div class="">
                      {% if updateAppModelForm.errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in updateAppModelForm.errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                      {% if updateAppModelForm.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in updateAppModelForm.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                      {% for hidden_field in updateAppModelForm.hidden_fields %}
                       {% if hidden_field.errors %}
                         <div class="alert alert-danger" role="alert">
                           {% for error in hidden_field.errors %}
                             {{ hidden_field.name }}: {{ error }}
                           {% endfor %}
                         </div>
                       {% endif %}
                      {% endfor %}
                      
                      {% render_field updateAppModelForm.name type="hidden" %}
                      {% render_field updateAppModelForm.slug type="hidden" %}
                      <div class="form-group">
                        <div class="row">
                            <button type="button" class="button btn-primary btn cur-p col-md-2" id="video_input_btn">{% trans 'Upload Video' %}</button>
                            <input type="file" id="video_input" accept="video/*" style="display:none">
                            <div class="col-md-10 d-none progress-div">
                              <div class="progress" style="height:90%; width:100%">
                               <div id="video_upload_progress" class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                              </div>
                            </div>
                            <span style="font-size: 0.8em">{% trans 'Video size should not exceed 10MB' %}</span>
                        </div>
                      </div>
                      <video width="100%" height="auto" controls>
                        {% with video=updateAppModelForm.instance.videos.last %}
                            {% if video is not None %}
                                <source src="{{ video.file.url }}">
                            {% endif %}
                        {% endwith %}
                      </video>
                      <button id="submit_btn" class="btn cur-p button btn-success center" style="margin-left:auto;margin-right:auto;margin-top:50px;" >{% trans 'Update Application' %}</button>
                  </div>
                </div>
              </div>
                <div class="divSplitter" style="display:none"></div>
                {% for imgUrl in imgUrls %}
                  <div class="bgc-white bd imgDivTop">
                      <img src="{{ imgUrl }}" width="auto" height="200px" class="appImg rounded">
                      <button type="button" class="btn cur-p btn-secondary delImgBtn">x</button>
                      <input type="checkbox" class="delImgCheckbox" style="display:none">
                      <input type="number" class="orderImg" style="display:none">
                  </div>
                {% endfor %}
            </div>
            {{ updateAppModelForm.imgIds }}
            {{ updateAppModelForm.video_url }}
          </form>
<div class="imgDivTop image-template d-none">
    <img width="auto" height="200px" class="appImg rounded"><button type="button" class="btn cur-p btn-secondary delImgBtn">x</button>
    <input type="checkbox" class="delImgCheckbox" style="display:none">
    <input type="number" class="orderImg" style="display:none">
</div>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'taggit_labels/js/taggit_labels.js' %}" type="text/javascript"></script>
  <script>

  {% if updateAppModelForm.imgIds.value is not None %}
  var imgIds = [{{ updateAppModelForm.imgIds.value }}];
  {% else %}
  var imgIds = [];
  {% endif %}

  var videoUploading = false;
  var exceedFileSize = false;
  
  $(function(){

    $('#imgCtrBtn').click(function(){
      $('#imgCtr').click();
    });

    $('#imgCtr').change(function(){
      var files = this.files;
      if(imgIds.length + files.length > 10){
        alert("{% trans 'maximum 10 images allowed' %}");
        return;
      }
      
      if(files !== null){
        var formData = new FormData();
        $.each(files, function(i, file){
            if(!validateFileSize(file, 2)){
                exceedFileSize = true;
                alert("{% trans 'file size exceed the limitaion' %}" + ':' + file.name);
                return false;
            }
            getImageUploadSignature(file.name, 'app', 'showcase.app.ss.thumbnail').then(function(response){
                return uploadFile(response, false, file);
            }).then(function(response){
                return notifyTask(response);
            }).then(function(response){
                var image_id = response.image_id;
                imgIds.push(image_id);
                console.log('taskId for image notified:' + image_id); 
            }).fail(function(data){
                console.log('something wrong in ajax call');
                console.log(data);
            }).always(function(data){
                if(data !== undefined){
                  console.log(data);  
                }
                var imgEle = newImageDiv();
                displayImage(file, imgEle);
                attachEvent(imgEle.siblings('.delImgBtn'));
            });
        });
      }
    });

    $('#update_app_form').submit(function(){
      if(videoUploading){
          alert("{% trans 'sorry, please wait for a while, the video uploading has not complte yet' %}");
          e.preventDefault();
          return false;
      }
      $('#imgIds').val(imgIds);
      $('#imgCtr, #video_input').prop('disabled', true);
      $(this).submit();
    });

    $('#video_input_btn').click(function(){
        $('#video_input').click();
    });
    
    $('#video_input').change(function(){
        videoUploading = true;
        var file = this.files[0];
        if(file !== null){
          if(!validateFileSize(file, 10)){
            alert("{% trans 'file size exceed the limitaion' %}");
            videoUploading = false;
            return;
          }
          
          getFileUploadSignature(file.name, 'videos', 0, 0).then(function(response){
              return uploadFile(response, '#video_upload_progress', file);
          }).then(function(response){
              if(response.code == 200){
                  var video_url = response.url.replace($('body').data('media-url'), '');
                  $('#video_url').val(video_url);
                }
          }).fail(function(data){
                console.log('something wrong in ajax call');
                console.log(data);
            }).always(function(data){
                if(data !== undefined){
                  console.log(data);  
                }
                videoUploading = false; 
            });
        }
      });
      
    $('.icon-btn').click(function(){
    	$('#icon_input').click();
    });
    
    $('#icon_input').change(function(){
    	//$(this).siblings(':checkbox').prop('checked', true);
        var file = this.files[0];
        if(!validateFileSize(file, 1)){
            alert("{% trans 'file size exceed the limitaion' %}");
            return;
        }
        displayImage(file, $('#icon_img'));
    });
      
    attachEvents()
  });

  function newImageDiv(){
    var currentImgCount = $('.imgDivTop').length;
    var newImgDiv = $('.image-template').clone().removeClass('image-template d-none');
    currentImgCount > 0 ? $('.imgDivTop').last().after(newImgDiv) : $('.divSplitter').after(newImgDiv);
    return newImgDiv.find('.appImg');
  }

  function attachEvents(){
    $('.delImgBtn').click(function(){
      var index = $(this).parents('.imgDivTop').index('.imgDivTop');
      imgIds.splice(index-1, 1);
      $(this).siblings('.delImgCheckbox').prop('checked', true);
      $(this).parents('.imgDivTop').remove();
    });
  }
   
  function attachEvent(element){
      element.click(function(){
          var index = $(this).parents('.imgDivTop').index('.imgDivTop');
          imgIds.splice(index-1, 1);
          $(this).siblings('.delImgCheckbox').prop('checked', true);
          $(this).parents('.imgDivTop').remove();
        });
  }
   
  function getImageUploadSignature(fileName, folderName, thumbnail_pattern){
      return $.ajax({
                    url: "{% url 'api:get_image_upload_signature' %}",
                    method: 'POST',
                    data: {'file_name': fileName,
                            'folder_name': folderName,
                            'thumbnail_pattern': thumbnail_pattern},
                });
  }

  function getFileUploadSignature(fileName, folderName, big, fileSize){
      return $.ajax({
                    url: "{% url 'api:get_file_upload_signature' %}",
                    method: 'POST',
                    data: {'file_name': fileName,
                            'folder_name': folderName,
                            'big': big,
                            'file_size': fileSize},
                });
  }
      
  function uploadFile(response, progressBar, file){
      var policy = response.policy;
      var authorization = response.authorization;
      var formData = new FormData();
      formData.append('policy', policy);
      formData.append('authorization', authorization);
      formData.append('file', file);
      console.log('policy:' + policy);
      console.log('authorization:' + authorization);
      return $.ajax({
              url: "{{ upyun_url }}",
              type: 'POST',
              data: formData,
              cache: false,
              processData: false, // Don't process the files
              contentType: false, // Set content type to false as jQuery will tell the server its a query string request
              dataType: 'json',
              xhr: function()
              {
                var xhr = new window.XMLHttpRequest();
                if(progressBar){
                    updateProgressBar(xhr, progressBar);
                }
                return xhr;
              },
             });
  }
   
  function updateProgressBar(xhr, progressBar){
    //Upload progress
    $(progressBar).parents('.progress-div').removeClass('d-none');
    xhr.upload.addEventListener("progress", function(evt){
      if (evt.lengthComputable) {
        var percentComplete = (evt.loaded / evt.total*100).toFixed(0) + '%';
        //Do something with upload progress
        $(progressBar).css('width', percentComplete);
        $(progressBar).text(percentComplete);
      }
    }, false);
    //Download progress
    xhr.addEventListener("progress", function(evt){
      if (evt.lengthComputable) {
        var percentComplete = evt.loaded / evt.total;
        //Do something with download progress
      }
    }, false);
  }
      
  function notifyTask(response){
      console.log(response);
      if(response.code == 200){
          var taskId = response.task_ids[0];
          var original_path = response.url;
          console.log('task_id:' + taskId);
          console.log('original_path' + original_path);
          return $.ajax({
                      url: "{% url 'api:notify_image_process_task' %}",
                      method: 'POST',
                      data: {'task_id': taskId, 'original_path': original_path}
                  });
      }else{
          console.log('notify task failed');
          throw "notify task failed";
      } 
  }
  </script>
{% endblock %}
